<header class="page-header">
  <h1>Dashboard</h1>
</header>
<div class="row">
  <div class="col-sm-6 mb-3 mb-md-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1><%= @products.all.count %></h1>
        total products
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1><%= @categories.all.count %></h1>
        total categories
      </div>
    </div>
  </div>
</div>
