<header class="page-header">
  <h1>About Us</h1>
</header>
<div class="thumbnail">
    <img src="https://images.pexels.com/photos/2564460/pexels-photo-2564460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Store" style="width:100%">
    <div class="caption">
      <p>Just a regular store, selling regular stuff...</p>
    </div>
</div>
